In [20]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from textblob import TextBlob as tb
from datetime import datetime
import numpy as np

In [14]:
def readxls(filename):
    xl = pd.ExcelFile(filename)
    tb = xl.parse()
    var = ['Title','PublicationDate','DocumentURL']
    data = tb[var]
    return (data)

In [15]:
def readtxt(filename):
    with open(filename, 'r', encoding = 'utf-8') as file:
        text = file.read()
    post = text.split("____________________________________________________________")
    post = post[1:]
    post = post[:-1]
    texts = []
    for i in range (len(post)):
        num_text = post[i].find("Full text:")
        num_sub = post[i].find("Subject:")
        text = post[i][num_text+len("Full text: "):num_sub]
        texts.append(text)
    textdf = pd.DataFrame(texts)
    textdf.columns = ["Full Text"]
    return(textdf)

In [16]:
def getsenti(mylist):
    senti = []
    for i in range(len(mylist)):
        blob = tb(mylist[i])
        value = blob.sentiment.polarity
        senti.append(value)
    return(senti)

In [17]:
def timesenti(df):
    textlist = df["Full Text"].tolist()
    sentiment = getsenti(textlist)
    sentidata = pd.concat([df["PublicationDate"], pd.DataFrame(sentiment)], axis=1)
    timesenti = sentidata.groupby("PublicationDate", axis=0).mean()
    timesenti.index = pd.to_datetime(timesenti.index)
    timesenti["date"]=timesenti.index
    my_list = list(timesenti.index)
    my_list.sort()
    df = pd.DataFrame(np.array(my_list), columns = ["date"])
    s = pd.merge(df,timesenti, how='left', on=['date'])
    return(s)

In [18]:
Google2016Janxl = readxls("Google_2016Jan.xls")
Google2016Jantxt = readtxt("Google_2016Jan.txt")
Google2016Jan = pd.concat([Google2016Janxl,Google2016Jantxt], axis=1)

In [21]:
timesenti2016Jan = timesenti(Google2016Jan)

In [24]:
xlsfiles = ["0.xls","1.xls","2.xls","3.xls","4.xls","5.xls","6.xls","7.xls","8.xls","9.xls","10.xls","11.xls","12.xls"]
txtfiles = ["0.txt","1.txt","2.txt","3.txt","4.txt","5.txt","6.txt","7.txt","8.txt","9.txt","10.txt","11.txt","12.txt"]

In [25]:
xls = {file: readxls(file) for file in xlsfiles}

In [32]:
txt = {file: readtxt(file) for file in txtfiles}

In [47]:
data = {i : pd.concat([xls[xlsfiles[i]],txt[txtfiles[i]]], axis=1) for i in range(13)}

In [52]:
senti = {i: timesenti(data[i]) for i in range(13)}

In [57]:
sentiseries = senti[0]
sentiseries = sentiseries.append(senti[1], ignore_index = True)

In [65]:
sentiseries = senti[0]
for i in range(1,13):
    sentiseries = sentiseries.append(senti[i], ignore_index = True)

In [66]:
sentiseries

          date         0
0   2016-01-03  0.116100
1   2016-01-04  0.097372
2   2016-01-05  0.119200
3   2016-01-06  0.100297
4   2016-01-07  0.062459
5   2016-01-08  0.153506
6   2016-01-09  0.107977
7   2016-01-10  0.098012
8   2016-01-11  0.082656
9   2016-01-12  0.125590
10  2016-01-13  0.118752
11  2016-01-14  0.103707
12  2016-01-15  0.109942
13  2016-01-16  0.135975
14  2016-01-17  0.105665
15  2016-01-18  0.105792
16  2016-01-19  0.101204
17  2016-01-20  0.119520
18  2016-01-21  0.120771
19  2016-01-22  0.113189
20  2016-01-23  0.136236
21  2016-01-24  0.109974
22  2016-01-25  0.112289
23  2016-01-26  0.030831
24  2016-01-27  0.110906
25  2016-01-28  0.102565
26  2016-01-29  0.075616
27  2016-01-30  0.096101
28  2016-01-31  0.098812
29  2016-02-01  0.106751
..         ...       ...
849 2018-04-29  0.103534
850 2018-04-30  0.076413
851 2018-04-30  0.091803
852 2018-05-01  0.094540
853 2018-05-02  0.100356
854 2018-05-03  0.114115
855 2018-05-04  0.102460
856 2018-05-05  0.097352
857 2018-05-06  0.080314
858 2018-05-07  0.094535
859 2018-05-08  0.100168
860 2018-05-09  0.109734
861 2018-05-10  0.091341
862 2018-05-11  0.104630
863 2018-05-12  0.078739
864 2018-05-13  0.100493
865 2018-05-14  0.091919
866 2018-05-15  0.084767
867 2018-05-16  0.078366
868 2018-05-17  0.106330
869 2018-05-18  0.102547
870 2018-05-19  0.064511
871 2018-05-20  0.134795
872 2018-05-21  0.099027
873 2018-05-22  0.096371
874 2018-05-23  0.102644
875 2018-05-24  0.095999
876 2018-05-25  0.082887
877 2018-05-26  0.086712
878 2018-05-27  0.078501

[879 rows x 2 columns]

In [68]:
sentiseries.set_index('date')

                   0
date
2016-01-03  0.116100
2016-01-04  0.097372
2016-01-05  0.119200
2016-01-06  0.100297
2016-01-07  0.062459
2016-01-08  0.153506
2016-01-09  0.107977
2016-01-10  0.098012
2016-01-11  0.082656
2016-01-12  0.125590
2016-01-13  0.118752
2016-01-14  0.103707
2016-01-15  0.109942
2016-01-16  0.135975
2016-01-17  0.105665
2016-01-18  0.105792
2016-01-19  0.101204
2016-01-20  0.119520
2016-01-21  0.120771
2016-01-22  0.113189
2016-01-23  0.136236
2016-01-24  0.109974
2016-01-25  0.112289
2016-01-26  0.030831
2016-01-27  0.110906
2016-01-28  0.102565
2016-01-29  0.075616
2016-01-30  0.096101
2016-01-31  0.098812
2016-02-01  0.106751
...              ...
2018-04-29  0.103534
2018-04-30  0.076413
2018-04-30  0.091803
2018-05-01  0.094540
2018-05-02  0.100356
2018-05-03  0.114115
2018-05-04  0.102460
2018-05-05  0.097352
2018-05-06  0.080314
2018-05-07  0.094535
2018-05-08  0.100168
2018-05-09  0.109734
2018-05-10  0.091341
2018-05-11  0.104630
2018-05-12  0.078739
2018-05-13  0.100493
2018-05-14  0.091919
2018-05-15  0.084767
2018-05-16  0.078366
2018-05-17  0.106330
2018-05-18  0.102547
2018-05-19  0.064511
2018-05-20  0.134795
2018-05-21  0.099027
2018-05-22  0.096371
2018-05-23  0.102644
2018-05-24  0.095999
2018-05-25  0.082887
2018-05-26  0.086712
2018-05-27  0.078501

[879 rows x 1 columns]